html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #efefef;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans" sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

header .background1 {
  height: 700px;
  background-image: url(../img/Background-paint-dark60.png);
  background-size: cover;
  background-attachment: fixed; }
  header .background1 nav {
    position: fixed;
    padding: 0 40px 0 0;
    width: 100%;
    height: 70px;
    background-color: rgba(150, 150, 150, 0.4);
    z-index: 1;
    border: none; }
    header .background1 nav .nav-line1 {
      padding: 20px; }
      header .background1 nav .nav-line1 .name {
        font-size: 17px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.45em;
        text-transform: uppercase;
        color: white;
        padding-top: 0px; }
      header .background1 nav .nav-line1 .mini-nav {
        clear: both;
        float: right;
        padding-top: 5px; }
        header .background1 nav .nav-line1 .mini-nav a {
          color: white;
          display: inline-block;
          margin-left: 30px;
          text-transform: uppercase;
          letter-spacing: 0.5em;
          font-size: 14px;
          font-weight: 700;
          font-family: "Montserrat", sans-serif; }
          header .background1 nav .nav-line1 .mini-nav a:hover {
            color: rgba(0, 0, 0, 0.2); }
  header .background1 .logo-holder {
    width: 100%;
    height: 200px;
    margin-top: 100px;
    position: absolute; }
    header .background1 .logo-holder .logo {
      height: 250px;
      width: 250px;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    header .background1 .logo-holder .down-arrow {
      height: 50px;
      width: 50px;
      position: relative;
      left: 50%;
      padding-top: 230px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      header .background1 .logo-holder .down-arrow a {
        height: 50px;
        width: 100%;
        position: absolute;
        z-index: 1; }
  header .background1 .Title {
    position: absolute;
    margin-top: 420px;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 70px;
    font-family: "Kaushan Script", "Montserrat", sans-serif;
    color: white; }
  header .background1 .subtitle {
    position: absolute;
    margin-top: 520px;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em; }

.portfolio-section .background-portfolio {
  height: auto;
  background: url(../img/1ptLine-01.png);
  background-size: cover;
  background-attachment: fixed;
  repeat: no-repeat; }
  .portfolio-section .background-portfolio .spacer {
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.87); }
    .portfolio-section .background-portfolio .spacer .portfolio-title {
      text-transform: uppercase;
      text-align: center;
      margin: auto;
      color: white;
      font-size: 20px;
      letter-spacing: 0.5em;
      font-family: "Montserrat", sans-serif;
      padding-top: 90px; }
  .portfolio-section .background-portfolio .main-body {
    padding-top: 100px;
    display: inline-block;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: center; }
    .portfolio-section .background-portfolio .main-body .row .tadpole-casing .tadpole-pic {
      margin: auto;
      height: 600px;
      width: 300px;
      background-image: url(../img/TadpoleiPhone6-02.png);
      background-size: cover; }
    .portfolio-section .background-portfolio .main-body .row .wazza-space {
      height: 1px;
      width: 300px; }
    .portfolio-section .background-portfolio .main-body .row .offsette-casing .offsette-pic {
      margin: auto;
      height: 600px;
      width: 300px;
      background-image: url(../img/OffsettteiPhone6-02.png);
      background-size: cover; }
    .portfolio-section .background-portfolio .main-body .row .app-store-logo {
      height: auto;
      position: absolute;
      padding-top: 400px;
      padding-left: 200px; }

.spacer-about-me {
  height: 200px;
  width: 100%;
  background: url(../img/dark-paints.png);
  background-size: cover;
  background-attachment: fixed;
  repeat: no-repeat; }
  .spacer-about-me .about-title {
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 20px;
    letter-spacing: 0.5em;
    font-family: "Montserrat", sans-serif;
    padding-top: 90px; }

.about-me-section {
  height: 700px;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 50px; }
  .about-me-section .face-img {
    background-repeat: no-repeat;
    height: 190px;
    width: 190px;
    background-size: cover;
    border-radius: 50%;
    margin: auto; }
  .about-me-section .text-container {
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    max-width: 640px;
    font-size: 24px; }

.to-top-bar-section {
  height: 80px;
  background-color: black; }
  .to-top-bar-section .up-arrow {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .to-top-bar-section a {
    height: 80px;
    width: 100%;
    position: absolute;
    z-index: 1; }
    .to-top-bar-section a:hover {
      background-color: rgba(255, 255, 255, 0.2); }

.footer1 {
  background-color: #262626;
  height: 200px; }
  .footer1 .block1 {
    width: 300px;
    margin: auto;
    padding: 30px 550px 100px 50px;
    color: white;
    letter-spacing: 0.15em; }
    .footer1 .block1 .title {
      font-size: 25px;
      font-weight: 800;
      padding: 0 0 20px 0; }
    .footer1 .block1 .contact-text {
      font-size: 17px;
      font-weight: 800; }
      .footer1 .block1 .contact-text a {
        color: white; }
        .footer1 .block1 .contact-text a:hover {
          color: rgba(255, 255, 255, 0.5); }

.footer2 {
  background-color: black;
  color: #B3B3B3;
  height: 50px;
  padding-left: 100px;
  padding-top: 15px; }
  .footer2 .text-copyright {
    font-size: 14px;
    font-weight: 300; }
